.wrapper {
    width: 600px;
}

.kepala {
    width: 300px;
    height: 280px;
    margin-left: 12px;
    border: 1px solid transparent;
    background-color: #FFC0CB;
    border-radius: 50%;
}

.telingakiri {
    content : '';
    position: absolute;
    border-radius: 40%;
    width: 0;
    height: 50px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 70px solid #f333d3;
    transform: rotate(-20deg);
    margin-top: 7px;
    margin-left: 15px;
}

.telingakanan {
    content : '';
    position: absolute;
    border-radius: 40%;
    width: 0;
    height: 50px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 70px solid #f333d3;
    margin-left: 195px;
    transform: rotate(22deg);
    margin-top: 10px
}

.matakiri {
    width: 40px;
    height: 40px;
    margin-left: 20%;
    margin-top: 35%;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 50%;
}

.matakanan {
    width: 40px;
    height: 40px;
    margin-left: 62%;
    margin-top: -14.5%;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 50%;
}

.bolamatakiri {
    width: 22px;
    height: 22px;
    margin-left: 32%;
    margin-top: 8%;
    border: 1px solid transparent;
    background-color: black;
    border-radius: 50%;
}

.bolamatakanan {
    width: 22px;
    height: 22px;
    margin-left: 28%;
    margin-top: 6%;
    border: 1px solid transparent;
    background-color: black;
    border-radius: 50%;
}

.lubanghidungkiri {
    width: 25px;
    height: 25px;
    margin-left: 15%;
    margin-top: 15%;
    border: 1px solid transparent;
    background-color: #f333d3;
    border-radius: 50%;
}

.lubanghidungkanan {
    width: 25px;
    height: 25px;
    margin-left: 60%;
    margin-top: -25.5%;
    border: 1px solid transparent;
    background-color: #f333d3;
    border-radius: 50%;
}

.moncong {
    width: 35%;
    height: 20%;
    margin-left: 30%;
    margin-top: 3%;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 45%;
}

.mulut {
    width: 60px;
    height: 50px;
    border-bottom: 15px solid black;
    border-radius: 70%;
    position: relative;
    display: block;
    margin-top: -25px;
    margin-left: 110px;
}